[user]
	email = kyle@vacantminded.com
	name = Kyle Johnson
[push]
	default = simple
[alias]
  up = !git pull --rebase --prune $@ && git submodule update --init --recursive
  undo = reset HEAD~1 --mixed
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
  cherry = cherry-pick -m 1
  co = checkout
  cob = checkout -b
  cm = commit -m
  cam = commit -a -m
  amend = commit -a --amend
  sl = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  wd = diff --word-diff
