XTerm*color0:#000000
XTerm*color1:#AA0000
XTerm*color2:#00AA00
XTerm*color3:#AA5500
XTerm*color4:#0000AA
XTerm*color5:#AA00AA
XTerm*color6:#00AAAA
XTerm*color7:#AAAAAA
XTerm*color8:#555555
XTerm*color9:#FF5555
XTerm*color10:#55FF55
XTerm*color11:#FFFF55
XTerm*color12:#5555FF
XTerm*color13:#FF55FF
XTerm*color14:#55FFFF
XTerm*color15:#FFFFFF
